@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #00000058, rgb(255, 255, 255));
}

.app-container {
  min-height: 100vh;
  padding: 20px 0;
}

#box {
  padding-top: 50px;
  width: 400px;
  height: 910px;
  background-image: linear-gradient(to bottom right, #c78334, #7c5a04);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 0px 0px 12px;
}

.input-title {
  font-family: 'Cinzel', serif;
  color: white;
  margin-left: 50px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.input-box {
  width: 275px;
  height: 25px;
  padding: 0px;
  margin-left: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  font-family: 'Noto Serif', serif;
}

.input-box:focus {
  outline: none;
  box-shadow: 0px 0px 5px;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 5px;
}

#title {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  margin-top: 7px;
  padding: 0px;
  text-shadow: 0px 0px 2px;
  color: #333;
}

button {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 16px;
  background-image: linear-gradient(to bottom right, #966125, #5a4102);
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.584);
  margin-left: 80px;
  margin-bottom: 40px;
  margin-top: 20px;
}

button:hover {
  background-image: linear-gradient(to bottom right, #c78334, #7c5a04);
  cursor: pointer;
}

#last {
  margin-bottom: 30px;
}

.profile-pic {
  font-family: 'Cinzel', serif;
  color: white;
  margin-left: 50px;
  margin-bottom: 30px;
}

#password-box {
  height: 25px;
  width: 275px;
  background-color: #fff;
  margin-left: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

#password-type {
  margin-top: 0px;
  margin-left: 0px;
  outline: 0px;
  border: 0px;
  font-family: 'Noto Serif', serif;
  width: 200px;
  background: transparent;
}

#eye {
  margin-left: auto;
  cursor: pointer;
}

#eye:hover {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.448);
}

#nav {
  font-family: 'Noto Serif', serif;
  color: #333;
}

#nav a {
  color: #7c5a04;
  text-decoration: none;
  font-weight: bold;
}

#nav a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  #box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
