     @font-face {
            font-family: "home-para";
            src: url("/cinzel.regular.otf");
        }
        @font-face {
            font-family:"home-cred";
            src: url("/NotoSerif-VariableFont_wdth\,wght.ttf");
        }
        @font-face {
            font-family: "title";
            src: url("/Cinzel-Bold.otf");
        }
    body{
        height: 100vh; 
        display: grid;
        grid-template-rows: 1fr 20fr ;
        margin: 0;
        padding: 0;
         background-image: linear-gradient(to right, #00000058, rgb(255, 255, 255));
    }
    #bar{
        background-image: linear-gradient(to bottom right, #966125, #5a4102);
        display: flex;
        gap:325px;
        color: white;
        text-decoration: none;
        box-shadow: 0px 0px 10px black;
        position: relative;
    z-index: 10;
    }
    #logo{
        height: 40px;
        width: 40px;
        margin-top: 20px;
        
    }
   #title{
    margin-left:20px;
    margin-bottom: 20px;
   }
   #options{    
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        font-family: "home-para";
        font-size: 14px;
        margin-left: 150px;

    }
     a{
        color: white;
        text-decoration: none;
    }  
   
     #guardian{
        font-family: "title";
        display: inline;
        
            }  
   
    #desc{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
   
    #page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 99vw;
    }
   
     #convo{
        
        display: flex;
        
    }
    #pfp{
        height: 50px;
        width:50px;
        border-radius: 50% ;
        margin-top: 12px;
        margin-left: 12px;
        display: inline;
        box-shadow: 0px 0px 5px black;
    }
    #person{
        height: 75px;
        background-image: linear-gradient(to right, #00000035, rgb(255, 255, 255));
        display: flex;
        flex-direction: row;       
        box-shadow: 0 6px 7px -2px rgba(0, 0, 0, 0.512);
    }
    #notify{
        display: flex;
        flex-direction:column ;
       
        
    }

  #name-messages{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-top: 12px;
    gap:10px;
    width:300px
    
  }
  #name{
    margin:0px;
    font-family: "home-para";
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0px 0px 1.5px black;
  }
  #message{
    margin:0px;
    font-family:"home-cred";
    font-weight: bold;
  }
  #role{
   margin-left: 265px;
   display: flex;   
   font-family:"home-cred";
   font-size: 12px;
   color: rgba(0, 0, 0, 0.581);
  }
  #texting{
    height: 65px;
    width:100%;
    background-image: linear-gradient(to right, #00000035, rgb(255, 255, 255));
    position: fixed;
    top: 630px;
    box-shadow: 0px 0px 6px black;
  }
  #messager{
    margin-top: 16px;
    margin-left: 10px;
    width: 650px;
    height: 25px;
    font-family: font-cred;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
  }
  #messanger:focus{
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  #exchanges{
    display: flex;
    flex-direction: column;
  }
  #sender{
   margin-left: 20px;
   width: 400px;
   margin-top: 20px;
   background: #ffffff;
   padding: 30px;
   text-align: justify;
   border-radius: 50px;
   font-family:"home-cred";
   font-size: 14px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.421);
  }
  #sender-exchange{
    margin-top: 0;
    margin-bottom: 0;
  }
#receiver{
    margin-left: 280px;
   width: 400px;
   margin-top: 20px;
  background-image: linear-gradient(to bottom right, #c68337, #9c7207);
   padding: 30px;
   text-align: justify;
   border-radius: 50px;
   font-family:"home-cred";
   font-size: 14px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.421);
}
button{
            height: 29px;
            width: 70px;
            border-radius: 20px;
            border: none;
            font-family: home-para;
            font-size: 10px;
            background-image: linear-gradient(to bottom right, #966125, #5a4102);
            color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.584);
            
            
        }

        button:hover{
            background-image: linear-gradient(to bottom right, #c78334, #7c5a04);
            cursor: pointer;
        }